<!DOCTYPE html>
{% load static %}
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | URP_lap</title>
    <link rel="shortcut icon" href='{% static "TemplateData/favicon.ico" %}'>
    <link rel="stylesheet" href='{% static "TemplateData/style.css" %}'>
    <link rel="stylesheet" href='{% static "TemplateData/unity.css" %}'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src='{% static "TemplateData/UnityProgress.js" %}'></script>
    <script src='{% static "TemplateData/unity.js" %}'></script>
    <script src='{% static "Build/UnityLoader.js" %}'></script>


    <script>
        var unityInstance = UnityLoader.instantiate("unityContainer",'{% static "Build/V2.json" %}', {
            onProgress: UnityProgress
        });

    </script>


</head>


<body>

    <div class="webgl-content  responsive">
        <div id="unityContainer" class="" ></div>
        <div class="footer">
            <!-- <button type="button" class="btn btn-primary btn-md" onclick="startLive()" id="start">start live</button> -->
            <button class="btn btn-primary btn-lg"  onclick="openForm()"  >startLive</button>

              <!-- <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div> -->
            <button type="button" class="btn btn-secondary btn-lg"  onclick="closeForm()">stopLive</button>        </div>

    </div>


    <div class="" id="myForm">
      <div class="form-container">

       <!-- <div class="embed-responsive embed-responsive-16by9"  id="display" style="width: 400px; height: 300px;">
        <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div> -->
      <div class="embed-responsive embed-responsive-16by9" id="display" style="width: 400px; height: 300px;">
        <iframe class="embed-responsive-item" src="http://197.166.102.138:8080" allowfullscreen></iframe>
    </div>


    </div>
    </div>

    <!-- <div class="embed-responsive embed-responsive-16by9" id="display" style="width: auto; height: auto;">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div> -->


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>

</html>
