{% extends "base.html" %}
{% load static %}
{% block body %}


<title>virtual labs</title>



<body class="Virtual-labs">



  <br /><br /><br /><br />

  <section class="">

    <!-- <h3 style="font-family: fantasy ;text-align: center;">explore oure simulation labs</h3> -->
    <div class="container translate">

      <h4 class="center wow animate__flash">
        explore our simulation labs
      </h4>
      <br /><br /><br />
      <div class="row MarginFromLeft">

        {% for lab in lab_list %}

        <div class="col-sm-12 col-md-6 col-lg-4 padding-bot">

          <img src='{{lab.image.url}}' class="img-fluid rounded-circle img-thumbnail" style="width: 230px; height: 230px; " alt="image">


          <div class="" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" style="padding-left: 50px;">{{lab.title}}</h5>
              <tag class="text-muted"></tag>
              <br><br>
              <p class="card-text">
                {{lab.description|safe}}
              </p>
              <a href="{% url 'labs:lab_detail' slug=lab.slug %}" class="btn btn-info" style="margin-left: 50px;">Read More</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>


      <nav aria-label="Page navigation example">
        {% if is_paginated %}
        {% load i18n %}
        <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page{{ page_suffix }}={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a>
        {% else %}
        <span class="disabled prev">&lsaquo;&lsaquo; {% trans "previous" %}</span>
        {% endif %}
        {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?page{{ page_suffix }}={{ page }}{{ getvars }}{{ hashtag }}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a href="?page{{ page_suffix }}={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a>
        {% else %}
        <span class="disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span>
        {% endif %}
        </div>
        {% endif %}
      </nav>


    </div>

  </section>


  {% endblock body %}
