{% extends "base.html" %}
{% load static %}
{% block body %}



<body>



    <br />

    <header class="margin-Top">



        <div class="">


            <p>
                <h1 class="text-center text-muted animate__heartBeat" style="font-family: fantasy;"> welcome to our Blogs Posts details</h1>
            </p>
            <br />


            <img src='{% static "images/pexels-polina-zimmerman-3747486.jpg"%}' class="wow animate__hinge" alt="Logo" height="800px;" width="100%;">

        </div>

    </header>

    <br />


    <section class="Lab1Details blogs">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">

                    <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
                        <img src='{{lab.image.url}}' class="card-img-top" alt="Logo" height="500px;">
                        <div class="card-body">
                            <h5 class="card-title"><b style="font-family: fantasy;" class="text-muted"> {{lab.title}}</b> </h5>
                            <p class="card-text">
                              {{lab.description|safe}}
                            </p>


                            <h5 class="card-title"><b style="font-family: fantasy;" class="text-muted">Experiment Objective  </b> </h5>
                            <p class="card-text">
                                {{lab.experiment_objective|safe}}
                            </p>

                            <h5 class="card-title"><b style="font-family: fantasy;" class="text-muted"> Experiment Materials</b></h5>
                            <p class="card-text">
                                {{lab.experiment_materials|safe}}
                            </p>


                            <h5 class="card-title"><b style="font-family: fantasy;" class="text-muted">Experiment Steps</b> </h5>
                            <p class="card-text">
                                {{lab.experiment_steps|safe}}
                            </p>

                            <h5 class="card-title"><b style="font-family: fantasy;" class="text-muted">Experiment Conclusion</b></h5>
                            <p class="card-text">
                                {{lab.experiment_conclusion|safe}}
                            </p>


                            <p class="card-text"><small class="text-muted" class="text-muted">{{lab.created_at}}</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{lab.youtube_url}}" allowfullscreen></iframe>

                    </div>

                    <br />
                    <!-- <button type="button" class="btn btn-secondary btn-lg btn-block" style="margin-bottom:20px;">Try Our Experiment Now</button> -->

                    <a role="button" class="btn btn-secondary btn-lg btn-block" href="{% url 'labs:unity_lab' %}" aria-pressed="true" style="margin-bottom:20px;">Try Our Experiment Now</a> </div>

                <br />
            </div>
        </div>



    </section>

{% endblock body %}
