{% extends "base.html" %}
{% load static %}
{% block body %}



<body>



    <br />

    <header class="margin-Top">



        <div class="">


            <p>
                <h1 class="text-center text-muted animate__heartBeat" style="font-family: fantasy;"> welcome to our Blogs Posts details</h1>
            </p>
            <br />


            <img src='{% static "images/pexels-polina-zimmerman-3747486.jpg"%}' class="wow animate__hinge" alt="Logo" height="800px;" width="100%;">

        </div>

    </header>

    <br />


    <section class="Lab1Details blogs">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">

                    <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
                        <img src='{{lab.image.url}}' class="card-img-top" alt="Logo" height="500px;">
                        <div class="card-body">
                            <h5 class="card-title"><b style="font-family: fantasy;" class="text-muted"> {{lab.title}}</b> </h5>
                            <p class="card-text">
                              {{lab.description|safe}}
                            </p>


                            <h5 class="card-title"><b style="font-family: fantasy;" class="text-muted">Experiment Objects  </b> </h5>
                            <p class="card-text">

                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>

                            <h5 class="card-title"><b style="font-family: fantasy;" class="text-muted"> Experiment Materials</b></h5>
                            <p class="card-text">

                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>


                            <h5 class="card-title"><b style="font-family: fantasy;" class="text-muted">Experiment Steps</b> </h5>
                            <p class="card-text">

                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>


                            <h5 class="card-title"><b style="font-family: fantasy;" class="text-muted">Experiment Notes</b> </h5>
                            <p class="card-text">

                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>


                            <h5 class="card-title"><b style="font-family: fantasy;" class="text-muted">Experiment Conclusion</b></h5>
                            <p class="card-text">

                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>


                            <p class="card-text"><small class="text-muted" class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>

                    </div>

                    <br />
                    <!-- <button type="button" class="btn btn-secondary btn-lg btn-block" style="margin-bottom:20px;">Try Our Experiment Now</button> -->

                    <a role="button" class="btn btn-secondary btn-lg btn-block" href="" aria-pressed="true" style="margin-bottom:20px;">Try Our Experiment Now</a> </div>

                <br />
            </div>
        </div>



    </section>

{% endblock body %}
