{% load static %}
{% load bootstrap4 %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">

            <h1>Profile</h1>
            <h3>{{profile.user.username}}</h3>
            <h3>{{profile.user.email}}</h3>
            <h3>{{profile.user.first_name}}</h3>
            <h3>{{profile.user.last_name}}</h3>
            <h3>{{profile.phone_number}}</h3>
            <h3>{{profile.country.name}}</h3>
            <h3>{{profile.image}}</h3>

        </div>
    </div>
</div>

{% endblock body %}