{% extends "base.html" %}
{% load static %}
{% block body %}


    <title>About us</title>
</head>

<body>

    <header id="Home">

        <div class="backGroundImage jumbotron jumbotron-fluid ">
            <div class="container marginTop ">


                <div class="row ">
                    <div class="col-lg-6 col-md-6">
                        <h1 class="display-4">Fluid jumbotron</h1>

                        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb margin-Top">
                                <li class="breadcrumb-item"><a href="#">HOME</a></li>
                                <li class="breadcrumb-item"><a href="#">ABOUT US</a></li>
                                <li class="breadcrumb-item active" aria-current="page">WHO WE ARE</li>
                            </ol>
                        </nav>



                    </div>
                </div>


            </div>
        </div>


    </header>



    <section class="content">



        <div class="container">

            <!-- <p class="center m-2 " style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30px; " > WHO WE ARE </p> -->

            <div class=" text-center">
                <br /><br />
                <h4 class="text-muted text-decoration">WHO WE ARE</h4>
                <br>

            </div>

            <br />
            <div class="row">
                <div class="col-lg-6 mb-5">

                    <p class="justify-content-center moving-top mr-5 animate__bounceOut">

                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                        the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged It
                        was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


                    </p>

                </div>
                <div class="col-lg-6">

                    <img src='{% static "images/pexels-thisisengineering-3912472.jpg"%}' alt="image descritpion" class="img-responsive img-thumbnail img-fluid image ">

                </div>
            </div>
        </div>

    </section>

    <!-- <hr class="divider"> -->

    <div style="border-bottom: white 1px snow;"></div>

    <section class="team">

        <div class="container">

            <div class=" text-center">
                <br /><br />
                <h4 class="text-muted text-decoration">our teams</h4>

                <br /><br />
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                <br /><br />
            </div>
            <div class="row ">

                <div class="col-sm-6 col-md-6 col-lg-3">

                    <!-- <i class="fas fa-user-circle marginLeft alert-light fa-8x"></i> -->
                    <img src='{% static "images/pexels-rfstudio-3825572.jpg"%}' class="img-fluid rounded-circle img-thumbnail" style="width: 200px; height: 200px; " alt="...">

                    <div class="" style="width: 18rem;">
                        <div class="card-body ">
                            <h5 class="card-title ">Student Name</h5>
                            <p class="card-text myPad">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry
                            </p>


                            <div class="social-login ">
                                <a href="#" class="facebook">
                                    <span class=" mr-3"><i class="fab fa-facebook-f"></i></span>
                                </a>
                                <a href="#" class="twitter">
                                    <span class=" mr-3"><i class="fab fa-twitter"></i></span>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <img src='{% static "images/pexels-pixabay-256262.jpg"%}' class="img-fluid rounded-circle img-thumbnail" style="width: 200px; height: 200px; " alt="...">

                    <!-- <i class="fas fa-user-circle fa-8x alert-light marginLeft"></i> -->

                    <div class="" style="width: 18rem;">
                        <div class="card-body ">
                            <h5 class="card-title">Student Name</h5>
                            <p class="card-text myPad ">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry
                            </p>


                            <div class="social-login">
                                <a href="#" class="facebook">
                                    <span class=" mr-3"><i class="fab fa-facebook-f"></i></span>
                                </a>
                                <a href="#" class="twitter">
                                    <span class=" mr-3"><i class="fab fa-twitter"></i></span>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">

                    <img src='{% static "images/pexels-polina-zimmerman-3747486.jpg"%}' class="img-fluid rounded-circle img-thumbnail" style="width: 200px; height: 200px; " alt="...">

                    <!-- <i class="fas fa-user-circle fa-8x alert-light marginLeft"></i> -->

                    <div class="" style="width: 18rem;">
                        <div class="card-body ">
                            <h5 class="card-title">Student Name</h5>
                            <p class="card-text myPad">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry
                            </p>

                            <div class="social-login">
                                <a href="#" class="facebook">
                                    <span class=" mr-3"><i class="fab fa-facebook-f"></i></span>
                                </a>
                                <a href="#" class="twitter">
                                    <span class=" mr-3"><i class="fab fa-twitter"></i></span>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">

                    <!-- <i class="fas fa-user-circle fa-8x alert-light marginLeft"></i> -->
                    <img src='{% static "images/pexels-polina-zimmerman-3747486.jpg"%}' class="img-fluid rounded-circle img-thumbnail" style="width: 200px; height: 200px; " alt="...">
                    <div class="" style="width: 18rem;">
                        <div class="card-body ">
                            <h5 class="card-title">Student Name</h5>
                            <p class="card-text myPad">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry
                            </p>


                            <div class="social-login">
                                <a href="#" class="facebook">
                                    <span class=" mr-3"><i class="fab fa-facebook-f"></i></span>
                                </a>
                                <a href="#" class="twitter">
                                    <span class=" mr-3"><i class="fab fa-twitter"></i></span>
                                </a>

                            </div>

                            <br><br>
                        </div>
                    </div>

                </div>



            </div>
        </div>

    </section>

    <!-- <br /><br /> -->
{% endblock body %}
