body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box; background-color: #ecf0f1}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #ecf0f1;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

html,
body {
    overflow-x: hidden;
    
}

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .responsive {

        width: 450px;
        height: 400px;
        /* padding-top: 200px; */
    }

}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

    .responsive {

        width: 570px;
        height: 700px;
        /* padding-top: 250px; */
    }
 
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 


    .responsive {

        width:750px;
        height: 800px;
        /* padding-top: 400px; */
    }
}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .responsive {

        width:1000px;
        height: 700px;
        /* padding-top: 220px; */
      
    }

}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .responsive {

        width:1250px ;
        height:800px;
        /* margin-top: 200px; */
        
        
    }

}
