{% extends "base.html" %}
{% load static %}
{% block body %}


<title>FAQ</title>
    <!---Start FAQ Intro----->
  <section class="ftco-section bg-light">
      <div class="container">
          <div class="row justify-content-start mb-5 pb-3">
              <div class="col-md-7 heading-section ftco-animate">
                  <span class="subheading">FAQS</span>
                  <h2 class="mb-4"><strong>Frequently</strong> Ask Question</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 ftco-animate">
                  <div id="accordion">
                      <div class="row">
                          <div class="col-md-6">


                          {% for faq in object_list %} <!--for every <!-- QUESTION: do this loop --> -->
                              <div class="card">
                                  <div class="card-header">
                                      <a class="card-link" data-toggle="collapse" href="#menu{{faq.id}}" aria-expanded="true"
                                          aria-controls="menuone">{{faq.title}} <span <!--title of the question loaded from the database -->
                                              class="collapsed"><i class="icon-plus-circle"></i></span><span
                                              class="expanded"><i class="icon-minus-circle"></i></span></a>
                                  </div>
                                  <div id="menu{{faq.id}}" class="collapse ">
                                      <div class="card-body">
                                          <p>{{faq.content}}</p><!--content of the question loaded from the database -->
                                      </div>
                                  </div>
                              </div>
                          {% endfor %}
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>


<!------------------------------------------>

{% endblock body %}
