{% extends "base.html" %}
{% load static %}
{% block body %}


<section class="contactUs">
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <h3 class="heading mb-4">Let's talk about everything!</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas debitis, fugit natus?
                            </p>
                            <p><img src="{% static 'images/contact.svg' %}" alt="Image"
                                    class="img-fluid img-responsive"></p>
                        </div>
                        <div class="col-md-6">
                            
                            <!-- Start Messeage from backend view -->
                            {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                            {% endfor %}
                            <!-- End Messeage from backend view -->

                            <form class="mb-5" method="post" id="contactForm">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control height" name="name" id="name"
                                            placeholder="Your name" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="email" class="form-control height" name="email" id="email"
                                            placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control height" name="subject" id="subject"
                                            placeholder="Subject" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <textarea class="form-control height" name="message" id="message" cols="30"
                                            rows="7" placeholder="Write your message" required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="submit" value="Contact Us"
                                            class="btn btn-info rounded-0 py-2 px-4 height border-secondary">
                                        <span class="submitting"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock body %}