{% extends "base.html" %}
{% load static %}
{% block body %}

<br /><br />
<br /><br />
<div class="container">
    <div class="col-12">
        <h1>Email Newsletter</h1>
    </div>
    <div class="col-12">
        {% if email %}
        <p>{{ email }} has been {{ action }}.</p>
        {% endif %}
    </div>
    {% if form %}
    <div class="col-12 col-md-4" id="main_form">
        <form method="post" action="{% url 'subscriber:subscribe' %}" novalidate>
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" class="btn btn-success">Subscribe!</button>
        </form>
    </div>
    {% endif %}
</div>


{% endblock body %}