{% extends "base.html" %}
{% load static %}
{% block body %}

<br /><br />
<br /><br />
<div class="container">
    <div class="col-12">
        <h1>Email Newsletter</h1>
    </div>
    <div class="col-12">
        {% if email %}
        <p>{{ email }} has been {{ action }}.</p>
        {% endif %}
        {% if message %}
        <p>Email is {{ message }}. Try Again</p>
        {% endif %}
    </div>
    {% if form %}
    <div class="col-12 col-md-4">
        <form id="id_username" method="POST" action="{% url 'subscriber:subscribe' %}" novalidate>
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" class="btn btn-success">Subscribe!</button>
        </form>
    </div>
    {% endif %}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $("#id_username").submit(function (e) {
      e.preventDefault();

      var form = $(this);
      var url = form.attr("action");
    
      $.ajax({
        type: 'POST',
        url: url,
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            console.log(data.error_message);
          }
        }
      });

    });
  </script>
{% endblock body %}

