body {
    margin-top: 87px;
    background-color: #ddfae8;
}

/* Start Chatbot Section*/
.chat-icon {
    position: fixed;
    right: 30px;
    bottom: 10px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    color: rgb(0, 110, 255);
}
.chat-icon i {
    background-color: #4f8cc3;
    color: #fff;
    padding: 10px;
    font-size: 40px;
}
.chat-box {
    position: fixed;
    right: 20px;
    bottom: 74px;
    width: 400px;
    height: 80vh;
    background-color: #dedede;
    z-index: 1000;
    border-radius: 20px;
    transition: all 0.3s ease-out;
    transform: scaleY(0);
}
.chat-box.active {
    transform: scaleY(1);
}
.hidden {
    display: none !important;
}
.conv-form-wrapper textarea {
    height: 30px;
    overflow: hidden;
    resize: none;
}
#messages {
    padding: 20px;
}
/* End Chatbot Section*/
