body{
    margin-top: 86px;
    background:#f4f6f9
}

.profile-pic {
    max-width: 355px;
    max-height: 355px;
    display: block;
    margin: auto;
}
.file-upload {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}
.p-image {
    position: relative;
    top: -35px;
    right: -63px;
    color: #666666;
    transition: all .2s ease-in-out;
}
.upload-button {
    font-size: 20px;
}

.upload-button:hover {
    transition: all .2s ease-in-out;
    color: #999;
}
.alert h3 { margin-bottom: 25px;}

@media (max-width: 768px) {
    img {
        margin: auto;
    }
    h3 {
        text-align: center;
    }
    
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .alert {
        padding-left: 30px;
    }
}
@media (min-width: 991.98px) {
    .p-image {
        right: -62px;
    }
}
@media (min-width: 991.98px) and (max-width: 1199px){
    .p-image {
        right: -62px;
    }
}
label {
    color: #8c8c8c;
}
/* Start FAQ Accordion*/
.faq h1 {
    letter-spacing: -3px;
    font-size: 50px;
}

.faq-questions {
    padding-top: 60px;
    padding-bottom: 60px;
}
.faq-questions .card-header button {
    text-decoration: none;
    box-shadow: none;
}
.faq-questions .card-header button::after {
    font-family: "FontAwesome";
    content: "\f055";
    float: right;
    color: #f00;
}
.faq-questions .card-header button.collapsed::after {
    font-family: "FontAwesome";
    content: "\f055";
    float: right;
    color: #080;
}
/* End FAQ Accordion*/